h1 {
  margin-left: 10px;
}

input {
  max-width: 95px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-bottom: 30px;
}

#preto {
  background-color: black;
}

#rosa {
  background-color: pink;
}

#vermelho {
  background-color: crimson;
}

#amarelo {
  background-color: yellow;
}

.pixel {
  border: 1px solid black;
  display: inline-table;
  height: 40px;
  width: 40px;
  background-color: white;
}

#pixel-board {
  max-width: 250px;
  margin: 10px;
}

#board-container {
  padding-top: 40px;
  text-align: center;
}

#clear-board {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}

#color-palette {
  margin-left: 10px;
}
