.App {
	text-align: center;
}

body {
	background-image: url("images/background.png");
}

header {
	text-align: center;
	color: #fff;
}

h2 {
	font-size: 1.5em;
	color: rgb(49, 46, 46);
	margin-bottom: 0;
	text-align: center;
	background-color: rgba(15, 14, 14, 0.5);
	color: white;
}

.planetCard {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	color: white;
	width: fit-content;
	text-align: center;
}

.planetIMG {
	width: 200px;
	height: auto;
}

.planets {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.missions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.missionCard {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	color: white;
	width: fit-content;
	text-align: center;
}
